<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 6</b></center>    
<pre>

<h1>name:thummar jainil</h1>
<h1>enrollment number:23010101272 - 385</h1>

# Tuple

### 01) WAP to find sum of tuple elements.

In [2]:
t1=(2,4,23,54,6,23,64)
sum=0
for i in t1:
    sum+=i
print(sum)

176

### 02) WAP to find Maximum and Minimum K elements in a given tuple.

In [60]:
t1=(2,4,23,54,6,23,64,2,4)
t1=sorted(tuple(set(t1)))
n=int(input("enter a number"))
print(t1[:k])
print(t1[len(t1)-k:])

enter a number 3

[2, 4, 6]
[23, 54, 64]

### 03) WAP to find tuples which have all elements divisible by K from a list of tuples.

In [30]:
l1=[(2,4,6),(3,6,9),(4,8,12),(5,10,15),(6,12,18)]
n=int(input("enter a number"))
for i in l1:
    count=0
    for j in i:
        if (j%n==0):
           continue
        else:
            count+=1
    if(count==0):
        print(i)

enter a number 3

(3, 6, 9)
(6, 12, 18)

### 04) WAP to create a list of tuples from given list having number and its cube in each tuple.

In [ ]:
l1=[(2,4,6),(3,6,9),(4,8,12),(5,10,15),(6,12,18)]

### 05) WAP to find tuples with all positive elements from the given list of tuples.

In [64]:
l1=[(2,4,6),(3,6,9),(4,8,-12),(-5,10,15),(6,12,18)]
for i in l1:
    count=0
    for j in i:
        if (j>0):
           continue
        else:
            count+=1
    if(count==0):
        print(i)

(2, 4, 6)
(3, 6, 9)
(6, 12, 18)

### 06) WAP to add tuple to list and vice – versa.

In [1]:

t1 = []
a = [1,2,3]
b = [1,2,3]
c = [1,2,3]
t1.append(a)
t1.append(b)
t1.append(c)
print(tuple(t1))
####################################################### vice – versa #######################################################
t2 = []
a = [1,2,3]
b = [1,2,3]
c = [1,2,3]
t2.append(tuple(a))
t2.append(tuple(b))
t2.append(tuple(c))
print(t2)

([1, 2, 3], [1, 2, 3], [1, 2, 3])
[(1, 2, 3), (1, 2, 3), (1, 2, 3)]

### 07) WAP to remove tuples of length K.

In [114]:
l1=[(2,4,6,3),(23,54,3,6,9),(8,12),(15,),(6,12,3)]
n=int(input("enter length k"))
count=0
for i in l1:
    if(len(i)==n):
        l1.remove(i)
    else:
        continue
print(l1)

enter length k 3

[(2, 4, 6, 3), (23, 54, 3, 6, 9), (8, 12), (15,)]

### 08) WAP to remove duplicates from tuple.

In [116]:
l1=(1,3,5,78,4,3,12,1,1,3,4,9)
l1=tuple(set(l1))
print(l1)

(1, 3, 4, 5, 9, 12, 78)

### 09) WAP to multiply adjacent elements of a tuple and print that resultant tuple.

In [2]:
t1 = (1,2,3,4)
t1 = list(t1)
for i in range(len(t1)-1):
    t1[i] = t1[i] * t1[i+1]
t1 = tuple(t1)
t1

(2, 6, 12, 4)

### 10) WAP to test if the given tuple is distinct or not.

In [3]:

t1 = (1,2,3,4,5)
flag = True
temp = t1[0]
for i in range(i,len(t1)):
    for j in range(i+1,len(t1)):
        if t1[i] == t1[j]:
            flag = False
            break
if flag:
    print("distinct")
else:
    print("not distinct")

distinct